.nest-menu ul {
    list-style:none;
    margin:0; 
    padding:0;
    width:250px;
}

.nest-menu ul li input[type='checkbox'] {
    display: none;
}

.nest-menu ul li label {
    display:block;
    padding:12px;
    width:226px;
    cursor: pointer;
}

.nest-menu ul li span {
    display:inline;
    float:right;
    padding:4px 6px;
    font-size:10px;
    position:relative;
}

.nest-menu ul li span div.settings{
    width:16px;
    height:16px;
}

.nest-menu ul li span div.settings a {
    width:16px;
    height:16px;
    background: url('../images/accordion_menu/settings.png') no-repeat;
}

.nest-menu ul li span div.settings a span{}

.nest-menu ul li span:hover {
    display:inline;
    float:right;
    padding:4px 6px;
    font-size:10px;
    position:relative;
    color:#ffffff;
}

.nest-menu ul li input[type='checkbox']:checked ~ .options {
    height: auto;
    display:block;
    min-height:40px;
    max-height:400px;
}

.nest-menu ul ul {
    background:#fff; margin:0; padding:0;
    -moz-box-shadow: inset 0 2px 2px #b3b3b3;
    -webkit-box-shadow: inset 0 0 2px #b3b3b3;
    box-shadow: inner 0 0 2px #b3b3b3;
}



ul.nest-menu li.block {
    padding-bottom: 2px;
}

.nest-menu ul ul li:first-child {
    padding-top:6px;
}

.options {
    height: 0;
    display: block;
    overflow: hidden;
}
