.nest-wrapper{}
.nest-menu{
    float: left;
    padding-right: 8px;
}
.nest-content{
    float: left;
    width: 80%;
    min-width: 670px;
    max-width: 1110px;
}

/* BREAD LIST */
.bread-list-before .filter {
    float: right;
}

.bread-list-before .new-item {
    float: left;
    width: 300px;
}

.bread-list-before .paging {
    float: left;
}

td.minimal-width {
    width: 1px;
    white-space: nowrap; 
}

td.minimal-width-actions{
    min-width: 170px;
    width: 170px;
    white-space: nowrap; 
}

td.bread-actions {
    white-space: nowrap;
}
