<ul class="nest-menu">
    {* eggy bez skupiny *}
    {include 'menu_items.latte', group_id=>null}

    {* eggy se skupinou *}
    <li n:foreach="$groups as $group" class="block group group-{$group['id']}">
        <input type="checkbox" class="box" name="nestchbox[]" id="item-{$iterator->counter}" value="{$group['id']}">
        <label for="item-{$iterator->counter}">{$group['name']}</label>

        <ul class="options">
            {include 'menu_items.latte', group_id=>$group['id']}
        </ul>
    </li>
</ul>