{if !isset($_GET['m'])}
    {foreach $eggs as $data}
        <a href="./index.php?p=nest&m={$data['full_id']}" class="button">
            <div class="egg-container">

                <img class="egg-icon" alt="egg-icon" src="{$data['path']}resources/icon.png">

                <div class="egg-data">
                    <span class="egg-title">{$data['name']|noescape}</span>
                    <span class="egg-description">{$data['description']|noescape}</span>
                </div>
            </div>
        </a>
    {/foreach}
{else}
    {if !isset($_GET['prev'])}
        <a href="index.php?p=nest" class="backlink">&lt; {$GLOBALS['_lang']['global.return']}</a>
        <div class="cleaner"></div>
    {/if}
{/if}