<p class="bborder">{$description}</p>

<div class="nest-wrapper">

    {include $theme.'/dashboard.latte'}

    <div class="nest-content">{$egg|noescape}</div>

    <div class="cleaner topborder"></div>

</div>