<form method="post">
    <p>Opravdu chcete potvrdit tuto položku?<br /><br />
        <q>{$bread->renderStr($data['username'])}</q></p><br />
    <p><input type="submit" name="{$submit_trigger}" value="{$submit_text}" /></p>
        {sl _xsrfProtect()}
</form>
