<form method='post'>
    <table class='list'>
        <tbody>
            <tr>
                <td>Uzivatelske jmeno</td>
                <td><input type="text" {sl _restorePostValueAndName('username', $data['username'])} /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" {sl _restorePostValueAndName('email', $data['email'])} /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    {sl _xsrfProtect()}
                    <input type="submit" name="{$submit_trigger}" value="{$submit_text}" class='inputsmall' />
                </td>
            </tr>
        </tbody>
    </table>
</form>
