<form method="post" name="listform">
    <div class="bread-list-before">
        <div class="new-item">{$bread->current_egg->hasPrivilege('create')?$bread->renderLink('add', 'create a new records', 'create', null, 'list', array('class'=>'button'))}</div>
        {$paging['paging']|noescape}
        {var filter=$bread->itemFilterOptions()}
        <div class="filter">
            <select name="filter[]" multiple>
                <option>{_'Filtrování položek'}</option>
                <option value="remove_filters">{_'Zrušit filtry'}</option>
                <optgroup label="{_'Filtry:'}">
                    {$filter|noescape}
                </optgroup>
            </select>
            <input type="submit" name="{$submit_trigger}" value="{_'Filtrovat'}" />
        </div>
        <div style='clear: both'></div>
    </div>

    <table class="list" width="100%">
        <thead>
            <tr>
                <td class="minimal-width">#</td>
                <td class="minimal-width">{_'Username'}</td>
                <td class="minimal-width">{_'Email'}</td>
                <td><!-- placeholder //--></td>
                <td class="minimal-width-actions">{_'Action'}
                    <a href="javascript:void(0);" class="button" onclick="javascript:checkAll('listform', true);">V</a>
                    <a href="javascript:void(0);" class="button" onclick="javascript:checkAll('listform', false);">X</a>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr n:foreach="$result as $item" n:class="$iterator->first ? first, $iterator->last ? last, $iterator->even ? even:odd">
                <td>{$bread->renderStr($item['id'])}</td>
                <td>{$bread->renderStr($item['username'])}</td>
                <td>{$bread->renderStr($item['email'])}</td>
                <td><!-- placeholder //--></td>

                <!-- AKCE //-->
                <td class="bread-actions">
                    {$bread->current_egg->hasPrivilege('edit')?$bread->renderLink('page_white_edit', 'edit', 'edit', array($item['id']), $self, array('class' => 'button'))}
                    {$bread->current_egg->hasPrivilege('delete')?$bread->renderLink('delete', 'delete', 'del', array($item['id']), $self, array('class' => 'button'))}
                    <input type='checkbox' name='sel[]' value='{$item['id']}'>                    
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">
                    <input type="submit" name="{$submit_trigger}" value="{$submit_text}" />
                    {sl _xsrfProtect()}
                </td>
                <td colspan="2">
                    {$paging['paging']|noescape}
                </td>
            </tr>
        </tfoot>
    </table>
</form>


